.quotes {
  background-color: white;
  color: black;
}
#quote {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}
#quote span:first-child {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 5px;
}
#quote span:last-child {
  font-size: 0.8rem;
  opacity: 0.6;
}
