.quotes {
  background-color: white;
  color: black;
}
#quote {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
#quote span:first-child {
  font-family: "SamsungOne 700";
  font-size: 110%;
  margin-bottom: 5px;
}
#quote span:last-child {
  font-size: 80%;
  opacity: 0.6;
}
